

!BLK ROOT
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
![FOREACH FILE DO_FILE]!
!END

!INC Common.tmpl

//// DO_FILE /////////////////////////////////////////////////
!BLK DO_FILE
![FOREACH ENUM DEFN_ENUM]!
![FOREACH LEAF MESSAGE DEFN_MSG]!
![FOREACH LEAF BIT_FIELD DEFN_BIT]!
!END

//// DEFN_ENUM /////////////////////////////////////////////////
!BLK DEFN_ENUM
enum ![NAME]! : ![TYPE_NAME]!
{
![FOREACH FIELD ENUM_FIELD]!}
!END

//// ENUM_FIELD /////////////////////////////////////////////////
!BLK ENUM_FIELD
   ![NAME:UPPER1]! = ![VALUE:INT]!,  // ![TEXT]!
!END
!BLK LIST:TEXT=

//// DEFN_MSG /////////////////////////////////////////////////
!BLK DEFN_MSG
struct ![USING OWNER NAME:PASCAL]!![NAME:PASCAL]!
{
![FOREACH FIELD MSG_FIELD]!};

!END

//// MSG_FIELD /////////////////////////////////////////////////
!BLK MSG_FIELD
   ![MSG_TYPE]! ![NAME:CAMEL]!;  // ![TEXT]!
!END

!BLK MSG_TYPE=![_MSG_TYPE:(OPTIONAL)]!
!BLK _MSG_TYPE:TRUE=std::optional<![TYPE_NAME]!>
!BLK _MSG_TYPE:FALSE=![TYPE_NAME]!

//// DEFN_BIT /////////////////////////////////////////////////
!BLK DEFN_BIT
namespace ![NAME:UPPER1]!
{
![FOREACH ROW BIT_FIELD]!};

!END

//// BIT_FIELD /////////////////////////////////////////////////
!BLK BIT_FIELD
   ![USING PREV TYPE_NAME]! ![STATUS:UPPER1]! = (1 << ![BITS]!);  // ![BIT_DESCRIPTION]!
!END
