
!INC test2.tmpl

!BLK ROOT
Hello World  ![NAME:me]!<<
What are you doing
to day.

![LIST ENTRY (COMMA) FRED]!

!END

!FIL OUTPUT:file out.txt
A file
!END

!BLK NAME =David Orchard(![TYPE]!)

!BLK FRED=![USING BILL LOIS]!