
!INC test2.tmpl

!BLK ROOT
![YEAR]! == ![USER]!
Hello World  ![NAME:me]!![COL 10]!<<
What are you ![TAB 5]!doing
to day. ![COL 10]!(![NUM]!)

![OUTPUT:file]!

![LIST ENTRY (COMMA) FRED]!

!END

!FIL OUTPUT:file fred/out.txt
![SUBTYPE:UPPER1]!
A file
## USER CODE BEGIN fred harry
Generated code
## USER CODE END fred bill
## USER CODE BEGIN harry
Generated code
## USER CODE END harry
!END

!EVAL NUM = 12*(2+3)/3

!BLK NAME =David Orchard(![TYPE]!)

!BLK FRED=![USING BILL LOIS]!