

!BLK ROOT
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
![FOREACH FILE BLAT]!
!END

!BLK BLAT
>>>> ![NAME]!
![FOREACH LEAF MESSAGE SPLAT]!
!END

!BLK SPLAT
![USING OWNER _SPLAT:(CLASS)]!
!END
!BLK _SPLAT:MESSAGE=![USING OWNER _SPLAT:(CLASS)]!::![USING PREV NAME]!
!BLK _SPLAT:PROTO=![USING PREV NAME]!
!ERR _SPLAT = Unexpected ![CLASS]! in the message hierarchy
